mixin item(title,src,year,country,where)
 figure.museumItem
  img(src="./img/"+src,alt=title)
  figcaption
   h3 #{title}
   ul.caps
    if year
     li
      b Year: 
      |#{year}
    if country
     li
      b Country: 
      |#{country}
    if where
     li
      b In Museum: 
      |#{where}
   block
   