include ./mixins.pug
doctype html
html
 head
  title= title
  for styleURL in stylesURLs
   link(rel='stylesheet',href="./css/"+styleURL,type='text/css')
 body
  header
   block header
   ul
    for name in links
     li: a(href='#'+name) #{name} 
  block content
  footer
   ul
    li= title
    for name in links
     li: a(href='#'+name) #{name}
    li made by #{author}
    li &copy;#{year}
  for scriptURL in scriptsURLs
   script(src="./js/"+scriptURL,type="text/javascript")